
p, h2{
  margin: 30px
}
h2{
 margin-top: 50px;
}
h4, h3{
  text-align: center;
}
.intro{
  align-items: center;
}
Button{
  margin:10px;
}
.card{
  display: flex;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}
.image1{
  margin-top:10px;
  margin-right:5px;
  margin-bottom:10px;
  margin-left: 5px;
  width: 600px;
  height: 600px;
  object-fit: cover;}
img {
  float: left;
  width: 150px;
  height: 150px;
  object-fit: cover;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
